.auth_page {
  width: 100%;
  min-height: 100vh;
  background: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    background: #fff;
    max-width: 400px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 50px 25px;

    .pass {
      position: relative;

      small {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        cursor: pointer;
        opacity: 0.5;
      }
    }

    button {
      background-color: #3c7574 !important;
    }
  }
}

.auth_page--register form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;

  .form-group {
    margin: 0 10px;
    width: 200px;
  }

  button {
    padding: 8px 269px !important;
  }

  .row label {
    margin: 10px 25px;
  }
}
